<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Golang Challenge</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-link">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
<div class="card">
    <div class="card-header">
        Profile
    </div>
    <div class="card-body">
        <p><span class="font-weight-bold">Full Name: </span>  {{ .FullName }}</p>
        <p><span class="font-weight-bold">Username: </span>  {{ .Username }}</p>
        <p><span class="font-weight-bold">Address: </span>  {{ .Address }}</p>
        <p><span class="font-weight-bold">Telephone: </span>  {{ .Telephone }}</p>
        <a href="/profile/edit" class="btn btn-primary">Edit</a>
    </div>
</div>
</body>
</html>